.contact{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 90px;
    margin-top: 20px;
    height: 100vh;
}

.contact h2{
    font-size: bolder;
    font-weight: 700;
    /* margin-top: 20px; */
}
.contact hr {
    width: 280px;
    height: 6px;
    border-radius: 10px;
    background: #e21e1e;
    margin-top: -30px;
    outline: none;
}

.contact p{
 gap: 30px;
 margin-top: 20px;
 padding-left: 70px;
}